/*------------------------------------------ page 1 -------------------------------------------------*/
p{
    font-size: 20px;
    color: white;
    padding: 10px;
    font-family: 'roboto';
}

div{
    background-color: blueviolet;
    margin: 20px;
    height: 50px;
}

#div_2{
    opacity: .5;
}

#div_3{
    opacity: .1;
}



